@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  color: black;
  padding-top: 70px;
}


/* tabset pills for active and static state */

.tabbable > .nav > li > a {
  background-color: #005753;  
  color:white
}

.tabbable > .nav > li.active > a {
  background-color: #91268F; 
  color:white
}

/* container for the footer */

.jumbotron.bg-info{
  background-color: #4A0048;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  width: 100%;
}

/* text and fonts for the footer */

i {
  color: #EC9B21;
  font-size: 14pt;
  padding-left: 15px;
  padding-right: 15px;
}

.footer_title {
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 16pt;
}

.footer_mission {
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 12pt;
}

.responsive-footer-image {
  width: 100%;
}

@media (max-width: 768px) {
  .responsive-footer-image {
    width: 15%;
  }
}

.source_url {
  color: #00716C;
  font-family: "Poppins";
  font-size: 12pt;
}

.sidebar_email {
  color: #00716C;
  font-family: "Poppins";
  font-size: 12pt;
}

.logo_url {
  color: #00716C;
  font-family: "Poppins";
  font-size: 24pt;
}

.plan_source_url {
  color: #00716C;
  font-family: "Poppins";
  font-size: 10pt;
}

.mainpage_title {
  color: #2F3030;
  font-family: "Poppins";
  font-size: 22pt;
}

.mainpage_subtitle {
  color: #2F3030;
  font-family: "Poppins";
  font-size: 10pt;
}

.sidebar_headings {
  font-weight: 16pt;
  font-size: 14pt;
  font-family: "Poppins";
  color: #2F3030;
}

.sidebar_notes {
  font-size: 12pt;
  color: #76787A;
}

.sidebar_data {
  font-size: 12pt;
  color: #91268F;
}

.sidebar_label {
  font-size: 12pt;
  color: #8CC63E;
}

.datatables {
  font-size: 10pt; 
}

.page_goals {
  font-family: "Poppins";
  font-size: 18pt;
  color: #F05A28;
}

head {
  background-image: url("psrc-logo.png");
  background-color : #4A0048; 
}

.chart_title {
  color: black;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 600;
}

.chart_source {
  color: #2F3030;
  font-family: "Poppins";
  font-size: 12px;
  font-style: italic;
}

.fa {
  color: #3f6618;
  
}


/* left panel module */

.col-sm-4 {
  padding: 0rem 10rem;
}
                              
.focus {
  border-bottom: 2px solid #dedede;
  padding: 1.25rem 2rem;
}

.left-panel-url {
  font-weight: 600;
}

.m-menu__title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: #2F3030;
}

/* panel refers to bsCollapse object*/
.panel {
  border: none;
}

.panel-default {
  border-color: white;
}

.panel-default > .panel-heading {
 border-color: white;
 background-color: white;
 padding: 1.25rem 2rem;
}

.panel-title {
 font-weight: 600;
 color: #00716C;
 font-family: "Poppins";
 font-size: 12pt;
}

.panel-collapse {
  background-color: #F2F2F2;
}

.panel-body {
 padding: 0rem;  
}

.links-container {
 padding: .75rem 2rem;
 border-bottom: 2px solid #dedede;
}

.links {
 font-weight: 600;
 color: #00716C;
 font-family: "Poppins";
 font-size: 12pt;
 padding: 0rem 2rem;
}


/*https://stackoverflow.com/questions/73255149/can-i-add-an-arrow-icon-to-my-bscollapsepanel-in-r-shiny*/
/*https://github.com/FortAwesome/Font-Awesome/blob/master/css/all.css*/

.panel-heading .panel-title a.collapsed:after {
      content:"\f067"; 
      transition: .5s ease-in-out;
}

.panel-heading .panel-title a:after {
      content:"\f068";
      font-family:"Font Awesome 5 Free";
      color: #2F3030;
      text-align: right;
      float:right;
      transition: .5s ease-in-out;
}

/* Connect With Us - Contacts */
/*https://css-generators.com/custom-corners/*/

.contacts {
  background-color: #F2F2F2;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 0 15%);
  padding: 3rem 0rem;
  background-size: 13rem;
}

.contacts-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}


.contacts-details p {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
}


.contacts-icons,
.contacts-icons div {
  margin-top: 1rem;
}

.contacts-icons i {
  color: #2F3030;
  font-size: 2rem
}

.contacts-icons div > a {
  padding: 0;
}

.contacts-container > .m-menu__title {
  margin: 4rem 0rem;
}

.selection_panel {
  background-color: #EDF9FF;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 95% 100%, 20% 100%, 0 100%, 0% 20%);
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  overflow: visible !important;
}

.insights_panel {
  background-color: #C0E095;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 95% 100%, 20% 100%, 0 100%, 0% 20%);
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.carousel-inner {
  background-color: transparent;
  background-image: none;
}

.carousel-control.right {
  background-color: transparent;
  background-image: none;
}

.carousel-control.left {
  background-color: transparent;
  background-image: none;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  
}
